<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="">
<body ng-app="myApp" >

<div ng-controller="myCtrl">

First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: {{firstName + " " + lastName}}

</div>

<div ng-controller="myCtrlNew">
<table>
	<tr ng-repeat ="entry in collection" ><td> {{entry.name}}</td> </tr>

</table>
<!--<ul>
	<li ng-repeat = "entry in collection" > {{entry.name}}</li>
</ul>-->
<input type ="text" ng-model="newData">
<button ng-click="addEntry()"> add</button>

</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName = "John";
    $scope.lastName = "Doe";
});

app.controller("myCtrlNew",function($scope){
$scope.collection = [{name:"himanshu" } ,{name:"loaded"} ,{name :"not-available"}];
$scope.addEntry = function(){
$scope.collection.push({name : $scope.newData});
}

});
</script>

</body>
</html>